.page {
}

.card {
  margin: 16px;
}

.tipContainer {
  margin-top: 16px;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.6);
}

.tipContainer .tip {

}

.imageContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.image {
  padding: 0 16px 16px;
  width: 80%;
}
