.page {
}

.card {
  margin: 16px;
}

.tipContainer {
  /*margin-top: 16px;*/
  font-size: 1em;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 16px 16px;
}

.tipContainer .tip {

}

.imageContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.image {
  padding: 0 16px 16px;
  width: 100%;
}
